<div>
  <!-- Add Server Form -->
  <div class="card">
    <form (ngSubmit)="addServer()" class="form-server">
      <h2 class="title">Add Server</h2>
      <div class="input-group">
        <label for="serverName">Server Name:</label>
        <input
          type="text"
          id="serverName"
          name="serverName"
          placeholder="type here ..."
          [(ngModel)]="newServer.name"
          required
        />
      </div>

      <div class="input-group">
        <label for="serverIP">Server IP:</label>
        <input
          type="text"
          id="serverIP"
          placeholder="type here ..."
          name="serverIP"
          [(ngModel)]="newServer.ipAddress"
          required
        />
      </div>

      <button type="submit" class="btn-submit">Add Server</button>
    </form>
  </div>

  <div class="header">
    <h2>Server List</h2>
    <form [formGroup]="searchForm">
      <input
        class="input-serach"
        type="text"
        formControlName="searchTerm"
        placeholder="Search by IP or Domain"
        (input)="onSearchTermChange()"
      />
    </form>
  </div>

  <!-- Server List -->

  <div class="content-list">
    <ul>
      <li *ngFor="let server of filteredServers">
        <div class="expansion-panel">
          <div class="panel-header" (click)="togglePanel(server.id)">
            <div class="headercell">
              <h3 style="font-weight: 500">{{ server.name }}</h3>
              <p style="font-weight: 400">IP Address: {{ server.ipAddress }}</p>
            </div>
            <div class="panel-buttons">
              <mat-icon class="delete-icon" (click)="deleteServer(server.id)"
                >delete</mat-icon
              >
              <mat-icon
                class="add-icon"
                (click)="addSiteToServerDialog(server.id)"
                >add</mat-icon
              >
            </div>
          </div>
          <div
            class="panel-content"
            [ngStyle]="{ display: openPanels[server.id] ? 'block' : 'none' }"
          >
            <!-- Display Sites -->
            <ul>
              <li
                *ngFor="let site of server.sites"
                class="site-item"
                [ngStyle]="{ background: site.active ? '#dbf3db' : '' }"
              >
                <div>
                  <input
                    type="checkbox"
                    [(ngModel)]="site.active"
                    (click)="toggleSiteActiveStatus(server.id, site.id)"
                  />
                  <span style="font-weight: 500;">{{ site.name }}</span>
                  <div class="items">
                    <span>
                      (Domain: {{ site.domainName }}) - IP:
                      {{ site.ipAddress }}</span
                    >
                  </div>
                </div>
                <mat-icon
                  class="delete-icon"
                  (click)="deleteSite(server.id, site.id)"
                  >delete</mat-icon
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
