/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background: #f9f7f7;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #bab9b9;
}